* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.circle-container {
  display: flex;
  justify-content: center;
  margin: 80px;
  border: solid black;
  border-width: 2px;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
}
.circule {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 20px;
  border-radius: 50%;
}

.circule img {
  width: 150px;
  height: 150px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 224, 134);
  font-size: 50px;
  margin: 20px;
}
