* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}
/* .circle-container {
  display: flex;
  justify-content: center;
  margin: 80px;
  border: solid rgba(0, 0, 0);
  border-width: 2px;
  flex-direction: row;
  flex-wrap: wrap;
} */

.circule {
  width: 120px;
  height: 120px;
  background-color: black;
  margin: 20px;
  border-radius: 50%;
}

.circule img {
  width: 120px;
  height: 120px;
}

/* p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 224, 134);
  font-size: 30px;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(74, 224, 134); */
  font-size: 30px;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid black;
  border-width: 2px;
  background-color: rgb(74, 224, 134);
  font-weight: bolder;
}
